html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
p {
  margin: 0 0 1em;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /*width: 1920px;
  margin: 0 auto;*/
}
.picture, .resume {
  position: fixed;
  /*width: 100%;*/
  padding: 3.125rem;
}
.picture {
  top: 0;
  left: 0;
}
.intro {
  width: 75%;
  font-family: Montserrat, sans-serif;
  font-size: 0.75rem;
  margin: 30em auto 0;
  line-height: 1.35;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/profile.jpg");
  background-size: cover;
  background-position: center top;
  filter: brightness(90%);
}
.intro em {
  color: #3ee6bf;
  font-style: normal;
  position: relative;
  font-weight: 700;
}
.resume {
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  font-family: Hind, sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.818;
  overflow-y: scroll;
  padding: 1rem;
}
.part {
  width: 100%;
  margin-top: 3em;
  clear: both;
  overflow: hidden;
}
.part:first-child {
  margin-top: 0;
}
.sidebar, .main {
  float: left;
}
.sidebar {
  width: 10%;
  margin-right: 3%;
}
.main {
  width: 87%;
  /*padding-right: 10%;*/
}

.tag {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
  color: rgb(43, 93, 240);
}

@media screen and (min-width: 768px){
  .picture, .resume{
    width: 50%;
  }
} 

@media screen and (min-width: 376px) and (max-width: 1200px) {
  .picture{
    width: 50%;
  }

  .resume{
    width: 50%;
  }
  
  .sidebar, .main{
    float: left;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .picture{
    display: hidden;
  }

  .sidebar, .main{
    float: left;
    width: 100%;
  }
}